sumy==0.8.1
spacy==3.0.5
spacy_streamlit==1.0.0
gensim==3.8.3
streamlit==0.79.0
beautifulsoup4==4.9.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz